@charset "utf-8";
/* CSS Document */
body {

	margin: 0;
	padding: 0;

}
.title h1, .button, .popup h2 {
	font-family: 'Work Sans', sans-serif;
}
.body-background {
	background-image: url(../images/page2.png);
	background-repeat: no-repeat;
	background-size: ;
}
.title h1 {
	color: red;
	text-align: center;

}
audio {
	width: 100%;


}

.image {
	width: 600px;
	height: 460px;
	background-image: url(../images/phone.png);
	display: table;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;


}
.box {
  width: 40%;
  margin: 0 auto;
  text-align: center;


}
.popup .pick-button {
	display: table;
	text-align: center;
	margin: auto;
	margin-bottom: 70px;


}
.clearfix {
	overflow: auto;
}
.button {
	cursor: pointer;
	transition: all 0.3s ease-out;
	background-color: #189AD3;
	border: none;
  color: white;
  padding: 18px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	font-size: 30px;
	border-radius: 5px;

}

.end-call {
	display: inline-block;
}
.popup .end-call .button {
	cursor: pointer;
	transition: all 0.3s ease-out;
	background-color: #189AD3;
	border: none;
	color: white;
	padding: 18px 35px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	border-radius: 5px;

}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;

}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

#popup1 .popup {

  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;

}



#popup2 .popup {

  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;

}


#popup3 .popup {

  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;

}



#popup4 .popup {

  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;

}


#popup5 .popup {

  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;

}




#popup6 .popup {

  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;

}

#popup7 .popup {

  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;

}

#popup8 .popup {

  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;

}

#popup9 .popup {

  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;

}

#popup0 .popup {

  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;

}









.popup h2 {
	font-size: 40px;
 margin-top: 70px;
  color: #333;

	text-align: center;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}


.yes input[type=submit] {
	font-size: 50px;
	width: 290px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 32px 32px;
    text-decoration: none;
    margin: 4px 12px;
    cursor: pointer;
	float: left;
	text-transform: lowercase;
	}

.no input[type=submit] {
	font-size: 50px;
	width: 290px;
    background-color: red;
    border: none;
    color: white;
    padding: 32px 32px;
    text-decoration: none;
    margin: 4px 12px;
    cursor: pointer;
	text-transform: lowercase;
	}


 .dick {
	width: 628px;
	margin: 0 auto;
	text-align: center;
	margin-top: 18%;
}

.dick h2  {
font-size: 65px;
}


.button1 {
    cursor: pointer;
    transition: all 0.3s ease-out;
    border: none;
    color: white;
    padding: 35px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin-top: 168px;
    margin-left: 268px;
    /*background-color: brown;*/
}

.button2 {
    cursor: pointer;
    transition: all 0.3s ease-out;
    border: none;
    color: white;
    padding: 35px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
		margin-top: -113px;
	margin-left: 279px;
	/*background-color: brown;*/
	display: table-caption;
}
.button3{
	cursor: pointer;
	transition: all 0.3s ease-out;
	border: none;
	color: white;
	padding: 35px 35px;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
	margin-top: -108px;
	margin-left: 191px;
	/*background-color: brown;*/
	display: table-caption;
}

.button4{
	cursor: pointer;
    transition: all 0.3s ease-out;
    border: none;
    color: white;
    padding: 35px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin-top: -62px;
    margin-left: 116px;
    /*background-color: brown;*/
    display: table-caption;
}

.button5{
	cursor: pointer;
    transition: all 0.3s ease-out;
    border: none;
    color: white;
    padding: 35px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 74px;
    /*background-color: brown;*/
    display: table-caption;
}


.button6{
	cursor: pointer;
    transition: all 0.3s ease-out;
    border: none;
    color: white;
    padding: 35px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin-top: 19px;
    margin-left: 76px;
    /*background-color: brown;*/
    display: table-caption;
}

.button7{
	cursor: pointer;
    transition: all 0.3s ease-out;
    border: none;
    color: white;
    padding: 35px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 123px;
    /*background-color: brown;*/
    display: table-caption;
}

.button8{
	cursor: pointer;
    transition: all 0.3s ease-out;
    border: none;
    color: white;
    padding: 35px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin-top: -27px;
    margin-left: 199px;
    /*background-color: brown;*/
    display: table-caption;
}


.button9{
	cursor: pointer;
    transition: all 0.3s ease-out;
    border: none;
    color: white;
    padding: 35px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin-top: -75px;
    margin-left: 288px;
    /*background-color: brown;*/
    display: table-caption;
}


.button0{
	cursor: pointer;
    transition: all 0.3s ease-out;
    border: none;
    color: white;
    padding: 35px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin-top: -118px;
    margin-left: 362px;
    /*background-color: brown;*/
    display: table-caption;
}

.popup .end-call .button {
    cursor: pointer;
    transition: all 0.3s ease-out;
    background-color: #189AD3;
    border: none;
    color: white;
    padding: 18px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 5px;
    margin-left: 145px;
		margin-top: 40px;
 }
.popup .change-number {
	display: inline-block;



}





.restart {
	text-align: center;
margin-top: 21%;

}

#spasiba h1 {
	text-align: center;
margin-top: 10%;
}
