@charset "utf-8";
/* CSS Document */
body {
	background-color: #2e2d2c;
	margin: 0;
	padding: 0;

}
.title h1, .button, .popup h2, .question h2, #spasiba h1, .popup, .popup p {
font-family: 'Inconsolata', monospace;
}
.body-background {
	background-image: url(../images/page2.png);
	background-repeat: no-repeat;

}
.title h1 {
	color: white;
	text-align: center;
	font-size: 45px;
	margin: 4%;
}


/* style for self-writing dots */
#dots {
  position: relative;
	display: inline;
}
/* this is the block, which is covering dots */
#dots > span {
    position: absolute;
    right: 0;
    height: 100%;
    background-color: #2e2d2c;
    animation: dots 2s steps(14, start) infinite;
}

/* this part of code is responsible for block moving
and revealing the dots */
@keyframes dots {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}


audio {
	width: 100%;
}

#ignore .button {
	background-color: #bc1c1c;
	float: right;
	margin-bottom: 10%;
	margin-right: 10%;
	margin-top: 1%;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 30px 50px;
}

#pick-up .button {

float: left;
margin-bottom: 10%;
margin-left: 10%;
margin-top: 1%;
text-transform: uppercase;
letter-spacing: 0.5px;
padding: 30px 50px;
background-color: #99b83b;
}

#spasiba {
display: none;
background: white;
width: 70%;
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
min-height: 400px;
border-radius: 5px;
margin-top: -70px;
transition: all 5s ease-in-out;
}

.restart .button {
	cursor: pointer;
	transition: all 0.3s ease-out;
	background-color: #3A89ED;
	border: none;
	color: white;
	font-weight: bold;
	padding: 25px 35px;
	text-transform: capitalize;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 38px;
	border-radius: 5px;
	letter-spacing: 1px;
	margin-top: 4%;
}

#spasiba .restart {
	text-align: center;

}
#ring {
display: none;
}
.phone {
	margin-top: 31px;
	margin-left: -2%;

}

.main {
	width: 600px;
	height: 460px;
	background-image: url(../images/main.png);
	display: table;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 100000000;
	position: absolute;
	margin-left: 27%;
}

.back {
	width: 600px;
	height: 265px;
	background-image: url(../images/back.png);
	display: table;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 145px;
	margin-left: 36%;

}

.handle {
	width: 570px;
	height: 336px;
	background-image: url(../images/handle.png);
	display: table;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 8px;
	margin-left: 27.6%;
	position: relative;
	z-index: 1;

}

.handle {
	animation: handle 1s infinite;
}
@keyframes handle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(20deg); }
   95% { transform: rotate(-20deg); }
  100% { transform: rotate(0deg); }
}



.box {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
.popup .pick-button {
	display: table;
	text-align: center;
	margin: auto;
	margin-bottom: 25px;
	margin-top: 15px;
}
.clearfix {
	overflow: auto;
}
/* cal button inside popup window  */
.button {
	cursor: pointer;
	transition: all 0.3s ease-out;
	background-color: #99b83b;
	border: none;
  color: white;
	font-weight: bold;
  padding: 18px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	font-size: 23px;
	border-radius: 5px;

}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
	z-index: 100000000000000000000000000;

}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

#popup1 .popup {

  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;

}


 #ignore-popup .popup {

  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

#popup2 .popup {

  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

#popup3 .popup {

  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;

}



#popup4 .popup {

  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;

}


#popup5 .popup {

  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;

}




#popup6 .popup {

  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;

}

#popup7 .popup {

  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;

}

#popup8 .popup {

  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;

}

#popup9 .popup {

  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;

}

#popup0 .popup {

  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;

}









.popup h2 {
	font-size: 40px;
 margin-top: 30px;
  color: #333;
	text-align: center;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}


.yes input[type=submit] {
	font-size: 40px;
	width: 290px;
	background-color: #99b83b;
    border: none;
    color: white;
    text-decoration: none;
    margin: 4px 20px;
    cursor: pointer;
	float: left;
	text-transform: uppercase;
		transition: all 0.3s ease-out;
		font-weight: bold;
		padding: 35px 35px;
			border-radius: 5px;
			display: inline-block;
	}



.no input[type=submit] {
	font-size: 40px;
	width: 290px;
	background-color: #bc1c1c;
    border: none;
    color: white;
    text-decoration: none;
    margin: 4px 20px;
    cursor: pointer;
	float: left;
	text-transform: uppercase;
		transition: all 0.3s ease-out;
		font-weight: bold;
		padding: 35px 35px;
			border-radius: 5px;
			display: inline-block;

	}



 .question {
	width: 680px;
	margin: 0 auto;
	text-align: center;
	margin-top: 10%;
}

.question h2  {
font-size: 55px;
color: white;
}


.button1 {
    cursor: pointer;
    transition: all 0.3s ease-out;
    border: none;
    color: white;
    padding: 35px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin-top: 168px;
    margin-left: 616px;
    /* background-color: brown; */
}

.button2 {
    cursor: pointer;
    transition: all 0.3s ease-out;
    border: none;
    color: white;
    padding: 35px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
		margin-top: -113px;
	margin-left: 539px;
	/* background-color: brown; */
	display: table-caption;
}
.button3{
	cursor: pointer;
	transition: all 0.3s ease-out;
	border: none;
	color: white;
	padding: 35px 35px;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
	margin-top: -108px;
	margin-left: 451px;
	/*background-color: brown;*/
	display: table-caption;
}

.button4{
	cursor: pointer;
    transition: all 0.3s ease-out;
    border: none;
    color: white;
    padding: 35px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin-top: -62px;
    margin-left: 376px;
    /*background-color: brown;*/
    display: table-caption;
}

.button5{
	cursor: pointer;
    transition: all 0.3s ease-out;
    border: none;
    color: white;
    padding: 35px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 336px;
    /*background-color: brown;*/
    display: table-caption;
}


.button6{
	cursor: pointer;
    transition: all 0.3s ease-out;
    border: none;
    color: white;
    padding: 35px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin-top: 19px;
    margin-left: 338px;
    /*background-color: brown;*/
    display: table-caption;
}

.button7{
	cursor: pointer;
    transition: all 0.3s ease-out;
    border: none;
    color: white;
    padding: 35px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 383px;
    /*background-color: brown;*/
    display: table-caption;
}

.button8{
	cursor: pointer;
    transition: all 0.3s ease-out;
    border: none;
    color: white;
    padding: 35px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin-top: -27px;
    margin-left: 459px;
    /*background-color: brown;*/
    display: table-caption;
}


.button9{
	cursor: pointer;
    transition: all 0.3s ease-out;
    border: none;
    color: white;
    padding: 35px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin-top: -75px;
    margin-left: 548px;
    /*background-color: brown;*/
    display: table-caption;
}


.button0{
	cursor: pointer;
    transition: all 0.3s ease-out;
    border: none;
    color: white;
    padding: 35px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin-top: -118px;
    margin-left: 620px;
    /*background-color: brown;*/
    display: table-caption;
}

.popup .end-call .button {
    cursor: pointer;
    transition: all 0.3s ease-out;
    background-color: #bc1c1c;
    border: none;
    color: white;
    padding: 18px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    border-radius: 5px;
    margin-left: 135px;
		    margin-top: 5%;




 }

 .clearfix {
     overflow: auto;
 }

.popup .change-number {
	display: block;
float: left;
    margin-top: 5%;
		font-size: 23px;

}



.popup .end-call {
 display: block;

}





.restart {
	text-align: center;


}
#ignore-popup .popup .restart {
	text-align: center;
margin-top: 7%;
margin-bottom: 5%;


}

#ignore-popup .popup .restart a {
	text-transform: capitalize;
}


#spasiba h1 {
	text-align: center;
margin-top: 10%;
font-size: 45px;
}





#running-text p{
	font-size: 25px;
	padding: 0;
	margin: 5%
}

#voice-lady {
	margin-top: 3%;
}



.arrow-left  {
	width: 78px;
	margin-left: 3%;

	margin-bottom: 5%;
}


.arrow-right {
	width: 78px;
margin-left: 81%;
margin-bottom: 5%;
}

.three-arrow-left {
	width: 78px;
	    margin-right: 20%;
	    margin-top: 6%;
	    margin-left: 3%;
}
